html,
body {
    background-color: #e5e5e5;
}

a {
    color: #3db986;
}

a:hover {
    color: #3db986;
}

.nuxt-text {
    color: #3db986;
}

.button {
    width: 100%;
    border: 1px solid #3db986;
    color: #ffffff;
    background-color: #3db986;
    padding: 0.5rem 1rem;
    line-height: 1.5;
}

.button :active {
    width: 100%;
    border: 1px solid #3db986;
    color: #ffffff;
    background-color: #3db986;
    padding: 0.5rem 1rem;
    line-height: 1.5;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3db986;
    border-color: #3db986;
}

.page-link {
    color: #3db986;
}

.page-link:hover {
    color: #3db986;
}

@media (max-width: 767px) {
    .search {
        position: absolute;
        top: 0;
    }
}